#snake-background
    height: 100%
    z-index: -1
    top: 0
    position: fixed
    overflow: hidden
    canvas
        display: block
        width: 100%
.score
    position: absolute;
    bottom: 4rem;
    right: 1.6rem;