.flex-child
    flex: 1

.flex-center-center
    display: flex
    justify-content: center
    align-items: center

.flex-center-start
    display: flex
    justify-content: center
    align-items: flex-start

.flex-start-center
    display: flex
    justify-content: flex-start
    align-items: center

.flex-center-end
    display: flex
    justify-content: center
    align-items: flex-end

.flex-start-end
    display: flex
    justify-content: flex-end
    align-items: center