
/* Fonts */
$title-font: 'Work Sans', sans-serif
$content-font: 'Montserrat', sans-serif

/* Color variables */
$black: #000000
$grey-800: #1C1C1C
$grey-600: #777777
$grey-200: #CCCCCC
$grey-50: #FAFAFA
$grey-50-80: #FAFAFA80
$white: #FFFFFF
$primary: #D28F3C

/* Breakpoints */
$xs: 576px
$sm: 768px
$md: 992px
$lg: 1200px