<div class="fullscreen-holder">
    <div class="about-text">
        <h2>About me</h2>
        <p>Hi, my name is Bruno and this is my personal website. Currently working in Portugal as a Software Engineer, I am a full stack developer with a passion for minimal design and efficient code. My daily job consist of developing new features for a multinational application with half a million users.</p>
        <p>My plan here is to create my own take on random applications and tools that I find interesting and challenging to develop, to hone my programming skills and build my portfolio.</p>
        <p>On the portfolio page you will find everything that I end up building and links to <a href="https://github.com/lughapp" class="hover-underline" target="_blank">Github</a> repos. On the todo page you can see what I will be working on and you can also follow me on <a href="https://twitter.com/LughAppDev" class="hover-underline" target="_blank">Twitter</a> to read about my developing process and my recent work.</p>
        <h4>Skills</h4>
        <p>Copy linkedin here</p>
        <a routerLink="" class="hover-underline">return</a>
    </div>
</div>