<div class="fullscreen-holder">
  <div class="fixed-container animate__animated animate__fadeIn">
    <h2 class="mb1">About</h2>
    <p class="mb1">
      Hi, I'm Bruno.<br />
      I've been playing around with webdesign for almost a decade as a side hustle, until I decided to learn how to code and make developing my full time job.<br/>
      Can honestly say it was the best decision of my life, I love what I do, the problem solving and the constant learning makes me feel accomplished and fulfilled.<br />
      Not sure what people write in this bios so if you want to know more, feel free to add me on <a
        (mouseenter)="mouseHoverToggle(true)"
        (mouseleave)="mouseHoverToggle(false)"
        href="https://www.linkedin.com/in/brunorodrigues355/"
        target="_blank"
        rel="noreferrer noopener"
        class="button hover-underline"
        >LinkedIn</a
      >.
      <br />
    </p>
    <a
      (mouseenter)="mouseHoverToggle(true)"
      (mouseleave)="mouseHoverToggle(false)"
      routerLink=""
      class="hover-underline return-link"
    >
      return
    </a>
  </div>
</div>
<circle-background [hover]="hovered"></circle-background>
