<div class="lg-loading-overlay">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewbox="0 0 95 95"
    class="loading-logo"
  >
    <rect y="0" x="0" height="23" width="23" class="body1" />
    <rect y="24" x="0" height="23" width="23" class="body2" />
    <rect y="48" x="0" height="23" width="23" class="body3" />
    <rect y="72" x="0" height="23" width="23" class="body4" />
    <rect y="72" x="24" height="23" width="23" class="body5" />
    <rect y="72" x="48" height="23" width="23" class="body6" />
    <rect y="72" x="72" height="23" width="23" class="body7" />
    <rect y="48" x="72" height="23" width="23" class="body8" />
    <rect y="24" x="72" height="23" width="23" class="body9" />
    <rect y="0" x="72" height="23" width="23" class="body10" />
    <rect y="0" x="48" height="23" width="23" class="body11" />
    <rect y="0" x="24" height="23" width="23" class="body12" />
  </svg>
</div>
