<ngx-loading-bar height="0.3rem" [includeSpinner]="false"></ngx-loading-bar>
<loader *ngIf="loading"></loader>
<sidebar [ngClass]="{ open: menuToggle }"></sidebar>
<menu-toggle
  class="animate__animated animate__fadeIn animate__delay-2s"
></menu-toggle>
<button
  aria-label="Toggle dark mode"
  class="dark-mode animate__animated animate__fadeIn animate__delay-3s"
  (click)="toggleDarkMode()"
>
  <i-feather *ngIf="!darkMode; else close" name="moon"></i-feather>
</button>
<ng-template #close>
  <i-feather class="toggled" name="sun"></i-feather>
</ng-template>
<div class="lg-container">
  <div
    class="lg-container-overlay"
    *ngIf="menuToggle"
    (click)="closeMenu()"
  ></div>
  <router-outlet></router-outlet>
</div>
