<article class="project" id="{{ project.id }}">
  <div
    class="gallery"
    *ngIf="project.gallery && project.gallery.length > 0"
    lightbox-group
  >
    <div
      *ngFor="let item of project.gallery; let i = index"
      class="image"
      [ngClass]="{
        full:
          project.gallery.length % 2 !== 0 && i === project.gallery.length - 1
      }"
    >
      <img src="{{ item }}" lightbox closeButtonText="X" />
    </div>
  </div>
  <aside class="info">
    <div class="sticky">
      <h3 class="title">{{ project.title }}</h3>
      <p class="date">{{ project.date | date: "MMMM, y" }}</p>
      <ul class="tags" *ngIf="project.tags && project.tags.length > 0">
        <li *ngFor="let tag of project.tags">
          <a
            href="{{ tag.url }}"
            target="_blank"
            class="button"
            [ngStyle]="{ 'background-color': tag.bg, color: tag.color }"
          >
            {{ tag.name }}
          </a>
        </li>
      </ul>
      <p class="description" [innerHTML]="project.description"></p>
      <ul class="links">
        <li *ngIf="project.previewUrl" class="button hover-fade">
          <i-feather name="link"></i-feather>
          <a href="{{ project.previewUrl }}" target="_blank">
            {{ project.previewUrl }}
          </a>
        </li>
        <li *ngIf="project.repoUrl" class="button hover-fade">
          <i-feather name="github"></i-feather>
          <a href="{{ project.repoUrl }}" target="_blank">
            {{ project.repoUrl }}
          </a>
        </li>
      </ul>
    </div>
  </aside>
</article>
