<nav class="main-menu-holder">
  <a (click)="goToRoute('')" class="button hover-underline">Home</a>
  <a (click)="goToRoute('about')" class="button hover-underline">About</a>
  <a (click)="goToRoute('projects')" class="button hover-underline">Projects</a>
</nav>
<nav class="social-menu-holder">
  <a
    href="https://www.linkedin.com/in/brunorodrigues355/"
    target="_blank"
    class="button hover-underline"
    >LinkedIn
  </a>
  <a
    href="https://github.com/bmartinsdev"
    target="_blank"
    class="button hover-underline"
    >GitHub
  </a>
</nav>
