
@import 'src/styles/variables.sass'
@import 'src/styles/animations.sass'

.hover-underline
    &:before,
    &:after
        background-color: $bg-white
.main-menu-holder
    margin-top: 4rem
    flex-direction: column
    align-items: flex-start
    display: flex
    a
        text-align: left
        padding: 0.3rem 0.8rem
        font-size: 2.4rem
        color: $bg-white
        font-family: $title-font
.social-menu-holder
    margin-bottom: 4rem
    flex-direction: column
    align-items: flex-start
    display: flex
    a
        text-align: left
        color: $bg-white
        padding: 0.4rem 0.8rem
        font-size: 1.8rem
        font-family: $title-font