<div *ngIf="auth.user$ | async as user; else login">
    {{ user.displayName }}
    <hr>
    <a (click)="auth.signOut()">Sign Out</a>
</div>
<ng-template #login>
    <a (click)="auth.googleSignin()">Google Sign in</a>
</ng-template>
<div class="main-menu-holder">
    <a (click)="goToRoute('')" class="button hover-underline">Home</a>
    <a (click)="goToRoute('projects')" class="button hover-underline">Projects</a>
    <a (click)="goToRoute('about')" class="button hover-underline">About</a>
    <a (click)="goToRoute('todo')" class="button hover-underline">Todo</a>
</div>
<div class="social-menu-holder">
    <a href="https://twitter.com/LughAppDev" target="_blank" class="button hover-underline">Twitter</a>
    <a href="https://github.com/lughapp" target="_blank" class="button hover-underline">GitHub</a>
</div>