@import 'src/styles/variables.sass'

.main-menu-holder
    position: absolute
    top: 7rem
    left: 1.6rem
    flex-direction: column
    align-items: flex-start
    display: flex
    a
        text-align: left
        padding: 0 0 0.3rem
        font-size: 2.4rem
        font-family: $title-font
        font-weight: 500

.social-menu-holder
    position: absolute
    bottom: 4rem
    left: 1.6rem
    flex-direction: column
    align-items: flex-start
    display: flex
    a
        text-align: left
        padding: 0 0 0.2rem
        font-size: 1.5rem
        font-family: $title-font
        font-weight: 500