<nav class="main-menu-holder">
  <a routerLink="about" class="button hover-underline">About</a>
  <a class="button disabled">Projects</a>
</nav>
<nav class="social-menu-holder">
  <a href="https://twitter.com/LughAppDev"
    target="_blank"
    class="button hover-underline">
    Twitter
  </a>
  <a href="https://www.linkedin.com/in/brunorodrigues355/"
    target="_blank"
    class="button hover-underline">
    LinkedIn
  </a>
  <a href="https://github.com/lughapp"
    target="_blank"
    class="button hover-underline">
    GitHub
  </a>
</nav>
<snake-background></snake-background>
