
<div class="lg-backlog" [ngClass]="{'open': backlogToggle}">
    <app-lg-column [section]="backlog"></app-lg-column>
</div>
<div class="lg-board-holder" [ngClass]="{'open': backlogToggle}">
    <div class="lg-nav-bar">
        <menu-toggle></menu-toggle>
        <button (click)="toggleBacklog()">BACKLOG</button>
        <action-bar></action-bar>
    </div>
    <div class="lg-board">
        <app-lg-column *ngFor="let section of sections" [section]="section" [ngClass]="section.title"></app-lg-column>
    </div>
</div>