
<div class="lg-backlog" [ngClass]="{'open': backlogToggle}">
    <app-lg-column [section]="backlog"></app-lg-column>
</div>
<div class="lg-board-holder" [ngClass]="{'open': backlogToggle}">
    <div class="lg-nav-bar">
        <!-- menu directive -->
        <button (click)="toggleMenu()">menu</button>
        <button (click)="toggleBacklog()">toggle</button>
    </div>
    <div class="lg-board">
        <app-lg-column *ngFor="let section of sections" [section]="section" [ngClass]="section.title"></app-lg-column>
    </div>
</div>