ul
    list-style: none
    width: 20rem
    li
        display: flex
        justify-content: space-between
        padding-top: 0.5rem
        padding-bottom: 0.5rem
        border-bottom: solid 0.01rem #ccc
        align-items: center
h3
    text-align: center
    margin-bottom: 0
.name
    text-transform: uppercase
.score
    font-size: 0.8rem

